@import "variables.scss";

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: $black-bis;
    color: $white-ter;
}

.hljs-strong,
.hljs-emphasis {
    color: $white-bis;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
    color: $purple;
}

.hljs-code,
.hljs-selector-class {
    color: $green;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
    color: $orange;
}

.hljs-params {
    color: $white-bis;
}

.hljs-string {
    color: $blue;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
    color: $turquoise;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: $grey-dark;
}
