@import url("reveal.js/css/reveal.css");

.MathJax_SVG_Display {
    font-size: 0.7em !important;
    background: rgba(255, 255, 255, 0.12) !important;
    padding: 1rem !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
}
