@import url("reveal.js/css/reveal.css");
@import url("reveal.js/css/theme/night.css");
@import url("reveal.js/plugin/highlight/styles/darcula.css");

.reveal section table,
.reveal section tr,
.reveal section td {
    border: none;
    margin: inherit;
}

.reveal section table {
    font-size: 0.5em;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.MathJax, .inset {
    background: rgba(255, 255, 255, 0.12)!important;
    padding: 0.5em!important;
    margin: 1em!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)!important;
}

span.hl {
    color: #e7ad52;
}

.lighten {
    background: #eee!important;
}

.demo {
    display: inline-block;
    position: relative;
    margin: 20px auto;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
}
