@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic");
@import url("reveal.js/css/reveal.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic");
html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

.MathJax_SVG_Display {
  font-size: 0.7em !important;
  background: rgba(255, 255, 255, 0.12) !important;
  padding: 1rem !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-image: linear-gradient(141deg, #ddd9c5 0%, #eeeee7 71%, #f8f9f6 100%);
  background-color: #eeeee7; }

::selection,
::-moz-selection {
  color: #073746;
  background: #a8c1c2;
  text-shadow: none; }

.reveal {
  font-family: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #073746;
  /*********************************************
     * HEADERS
     *********************************************/
  /*********************************************
     * OTHER
     *********************************************/
  /* Ensure certain elements are never larger than the slide itself */
  /*********************************************
     * LINKS
     *********************************************/
  /*********************************************
     * IMAGES
     *********************************************/
  /*********************************************
     * NAVIGATION CONTROLS
     *********************************************/
  /*********************************************
     * PROGRESS BAR
     *********************************************/ }
  .reveal .demo {
    max-width: 90%;
    position: relative;
    margin: 20px auto; }
    .reveal .demo canvas {
      padding: 1rem;
      background: rgba(255, 255, 255, 0.12);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
  .reveal .group > * {
    display: inline-block !important;
    vertical-align: middle !important; }
  .reveal .slides > section,
  .reveal .slides > section > section {
    line-height: 1.3;
    font-weight: inherit; }
  .reveal section > * {
    margin-bottom: 20px; }
  .reveal span.hl {
    color: #ff5c69; }
  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6 {
    margin: 0 0 20px 0;
    font-family: "Raleway", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.2;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word; }
  .reveal h1 {
    font-size: 3.77em; }
  .reveal h2 {
    font-size: 2.11em; }
  .reveal h3 {
    font-size: 1.55em; }
  .reveal h4 {
    font-size: 1em; }
  .reveal h1 {
    text-shadow: none; }
  .reveal p {
    margin: 20px 0;
    line-height: 1.3; }
  .reveal img,
  .reveal video,
  .reveal iframe {
    max-width: 95%;
    max-height: 95%; }
  .reveal strong,
  .reveal b {
    font-weight: bold; }
  .reveal em {
    font-style: italic; }
  .reveal ol,
  .reveal dl,
  .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em; }
  .reveal ol {
    list-style-type: decimal; }
  .reveal ul {
    list-style-type: disc; }
  .reveal ul ul {
    list-style-type: square; }
  .reveal ul ul ul {
    list-style-type: circle; }
  .reveal ul ul,
  .reveal ul ol,
  .reveal ol ol,
  .reveal ol ul {
    display: block;
    margin-left: 40px; }
  .reveal dt {
    font-weight: bold; }
  .reveal dd {
    margin-left: 40px; }
  .reveal q,
  .reveal blockquote {
    quotes: none; }
  .reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
  .reveal blockquote p:first-child,
  .reveal blockquote p:last-child {
    display: inline-block; }
  .reveal q {
    font-style: italic; }
  .reveal pre {
    display: block;
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    font-size: 0.55em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }
  .reveal code {
    font-family: monospace; }
  .reveal pre code {
    display: block;
    padding: 1rem;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal; }
  .reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.5em; }
  .reveal table th {
    font-weight: bold; }
  .reveal table th,
  .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border: none; }
  .reveal table th[align="center"],
  .reveal table td[align="center"] {
    text-align: center; }
  .reveal table th[align="right"],
  .reveal table td[align="right"] {
    text-align: right; }
  .reveal table tbody tr:last-child th,
  .reveal table tbody tr:last-child td {
    border-bottom: none; }
  .reveal sup {
    vertical-align: super; }
  .reveal sub {
    vertical-align: sub; }
  .reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top; }
  .reveal small * {
    vertical-align: top; }
  .reveal a {
    color: #ff5c69;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease; }
  .reveal a:hover {
    color: #ff7581;
    text-shadow: none;
    border: none; }
  .reveal .roll span:after {
    color: white;
    background: #ff5c69; }
  .reveal img {
    margin: 15px 0px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15)); }
  .reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear; }
  .reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #ff5c69;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }
  .reveal .stretch img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .reveal .box img {
    border: 4px solid #eeeee7;
    padding: 15px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    filter: none; }
  .reveal .plain img {
    filter: none; }
  .reveal .controls .navigate-left,
  .reveal .controls .navigate-left.enabled {
    border-right-color: #ff5c69; }
  .reveal .controls .navigate-right,
  .reveal .controls .navigate-right.enabled {
    border-left-color: #ff5c69; }
  .reveal .controls .navigate-up,
  .reveal .controls .navigate-up.enabled {
    border-bottom-color: #ff5c69; }
  .reveal .controls .navigate-down,
  .reveal .controls .navigate-down.enabled {
    border-top-color: #ff5c69; }
  .reveal .controls .navigate-left.enabled:hover {
    border-right-color: #ff7581; }
  .reveal .controls .navigate-right.enabled:hover {
    border-left-color: #ff7581; }
  .reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #ff7581; }
  .reveal .controls .navigate-down.enabled:hover {
    border-top-color: #ff7581; }
  .reveal .progress {
    background: rgba(0, 0, 0, 0.2); }
    .reveal .progress span {
      background: #ff5c69;
      -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #022431;
  color: #eeeee7; }

.hljs-strong,
.hljs-emphasis {
  color: #f7f7f3; }

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #9970a4; }

.hljs-code,
.hljs-selector-class {
  color: #7ebf6e; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #f08d47; }

.hljs-params {
  color: #f7f7f3; }

.hljs-string {
  color: #009491; }

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #79dcdb; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #2b6169; }
